@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
body{
    padding: 0;
    margin: 0;
    background-color: black;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
.table{
    margin: 0;
    padding: 0;
}



.loading_wrapper{
    position: absolute;
    top: -150px;
    animation: hide 6s;
    z-index: -1;
}
.loading_wrapper .video{
    margin: 0;
    padding: 0;
    width: 1920px;
}
@keyframes hide {
  0% {
    opacity: 1;
    z-index: 150;
  }
  90%{
    opacity: 1;
    z-index: 150;
  }
  100% {
    opacity: 0;
    display: none;
  }
}



.content{
    width: 100%;
    position: absolute;
    top: -150px;
    z-index: -1;
}
.video{
    width: 100%;
}



.carousel{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: none;
}



.light{
    width: 100px;
    position: absolute;
    z-index: -1;
    box-shadow: 0 -200px 180px 200px rgba(0,68,83,1);
}
.main_header{
    display: flex;
    justify-content: center;
    padding: 25px 0 0 0;
}
.menu{
    margin: 0 150px;
    display: flex;
    align-items: center;
}
.menu li a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.menu li a:hover{
    font-weight: bold;
}
.left_menu{
    display: flex;
    justify-content: space-around;
}
.left_menu li{
    margin: 0 10px;
}
.right_menu{
    display: flex;
    justify-content: space-around;
}
.right_menu li{
    margin: 0 10px;
}
.dropdown__contacts{
    display: none;
    padding: 50px;
    border: 2px solid #fff;
    border-radius: 8px;
}
.contacts{
    display: flex;
    justify-content: space-between;
}
.dropdown__useful{
    display: none;
    border: 2px solid #fff;
    border-radius: 8px;
}
.dropdown:hover a{
    font-weight: bold;
}
.dropdown:hover .dropdown__content{
    display: flex;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 400px;
    left: -140px;
}
.dropdown:hover .dropdown__useful{
    width: 1400px;
    height: 600px;
    left: -1200px;
}
.cards{
    width: 19%;
    height: 95%;
    margin: 0 auto;
    text-align: center;
}
.cards h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}
.cards p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto 168px auto;
}
.arrow{
    width: 96px;
    height: 96px;
    padding: 15px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.47);
}
.cards .details_btn{
    width: 215px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 5px 0 0 0;
    text-align: center;
}
.recommended{
    background: linear-gradient(0deg, #008EF4 8.09%, rgba(0, 142, 244, 0) 97.05%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                url('{% web_pages/images/backgrounds/recommended.png %}');
    border-radius: 8px;
}
.recommended .details_btn{
    color: #008EF4;
    margin: 168px auto 0 auto;
}
.marketing{
    background: linear-gradient(0deg, #F40067 8.09%, rgba(0, 142, 244, 0) 97.05%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                url('{% web_pages/images/backgrounds/marketing.png %}');
    border-radius: 8px;
}
.marketing .details_btn{
    color: #F40067;
    margin: 432px auto 0 auto;
}
.design{
    background: linear-gradient(0deg, #98F400 8.09%, rgba(0, 142, 244, 0) 97.05%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                url('{% web_pages/images/backgrounds/design.png %}');
    border-radius: 8px;
}
.design .details_btn{
    color: #039F00;
    margin: 432px auto 0 auto;
}
.notes{
    background: linear-gradient(0deg, #00F4BA 8.09%, rgba(0, 142, 244, 0) 97.05%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                url('{% web_pages/images/backgrounds/notes.png %}');
    border-radius: 8px;
}
.notes .details_btn{
    color: #00AC83;
    margin: 432px auto 0 auto;
}
.office{
    background: linear-gradient(0deg, #152C3D 8.09%, rgba(0, 142, 244, 0) 97.05%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42)),
                url('{% web_pages/images/backgrounds/office.png %}');
    border-radius: 8px;
}
.office .details_btn{
    color: #152C3D;
    margin: 432px auto 0 auto;
}








.footer{
    margin: 600px 0 0 0;
    display: flex;
    justify-content: center;
}
.icons{
    margin: 0 1000px 0 0;
}
.icons a{
    margin: 0 10px;
}
.request__btn{
    width: 400px;
    height: 60px;
    background: none;
    border: 2px solid #fff;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #fff;
}
.request__btn:hover{
    background: #fff;
    border: none;
    color: #1E2231;
}










.main_header{
    z-index: 10;
}
.header{
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.header__body{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 160px;
    align-items: center;
}
.header__logo{
    flex: 0 0 150px;
    overflow: hidden;
    position: relative;
    z-index: 3;
}
.header__logo img{
    max-width: 100%;
}
.header__burger{
    display: none;
}
.header__menu{}
.header__list{
    display: flex;
    position: relative;
    z-index: 2;
}
.header__list li{
    list-style: none;
    margin:  0 0 0 15px;
}
.header__link{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #FFFFFF;
}
.header__link:hover{
    color: red;
}
@media(max-width: 767px){
    .header{
        display: block
    }
    .main_header{
        display: none;
    }
    body.lock{
        overflow: hidden; 
    }
    .header__body{
        height: 100px;
    }
    .header__logo{
        flex: 0 0 80px;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before,
    .header__burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__menu{
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        padding: 110px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .header__menu.active{
        top: 0;
    }
    .header__list{
        display: block;
    }
    .header__list li{
        margin: 40px;
    }
    .header__link{
        font-size: 24px;
    }
}





