@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}


$base-font-family: 'Roboto', sans-serif;
$base-font-style: normal;
$base-font-weight: bold;
$base-font-color: #fff;

.loading{
    animation: loading 6s;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #004453 center center;
        background-size: cover;

        &-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes loading{
    0% {
        opacity: 1;
        z-index: 150;
    }

    90% {
        opacity: 1;
        z-index: 150;
    }

    100% {
        opacity: 0;
        display: none;
    }
}



.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #004453 center center;
        background-size: cover;

        &-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &::before {
        content: '';
        width: 100px;
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 5%;
        transform: translateX(-50px);
        box-shadow: 0 -200px 180px 200px #004453;
    }

    &__content {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 15vh;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .nav{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
            }

            &__logo img{
                width: 100%;
                height: 100%;
            }

            &__right-menu{
                .contacts-block{
                    display: none;
                    position: fixed;
                    z-index: 50;
                    top: 10%;
                    left: 11%;
                    width: 80%;
                    height: 80vh;
                    overflow: auto;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.4);
                    border: 2px solid #fff;
                    border-radius: 8px;

                    .contacts-wrapper:hover{
                        cursor: auto;

                        .contact-numbers>div:hover{
                            cursor: pointer;
                        }
                    }

                    .contacts-wrapper{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1em;
                        height: 100%;
                        padding: 10px;

                        .contact-element{
                            display: grid;
                            grid-template-rows: 2fr 1fr;
                            border-radius: 8px;
                            background: #000;
                            padding: 10px;

                            .contact-numbers{
                                display: grid;
                                justify-content: right;
                            }

                            .left-numbers{
                                margin: 10% 0 0 0;
                            }

                            .contact-numbers>div{
                                width: 15vw;
                                height: 5vh;
                                padding: 5px;
                                background: white;
                                border: none;
                                border-radius: 8px;
                                color: #000;
                                font-size: 1vw;
                            }
                        }

                        .alex{
                            grid-row: 1/3;
                        }
                    }
                }

                .useful-block{
                    display: none;
                    position: fixed;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    z-index: 50;
                    top: 10%;
                    left: 11%;
                    width: 80%;
                    height: 80vh;
                    overflow: auto;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.4);
                    border: 2px solid #fff;
                    border-radius: 8px;

                    &__content{
                        width: 19%;
                        height: 70vh;
                        background: linear-gradient(0deg, #98F400 8.09%, rgba(0, 142, 244, 0) 97.05%),
                            linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
                        border-radius: 8px;

                        .head{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            text-align: center;
                            margin: 70px 0 0 0;
                            padding: 0;
                            height: auto;
                        }

                        .p{
                            margin: 10px 0 0 0;
                            padding: 0;
                            height: auto;
                        }

                        .details{
                            display: flex;
                            justify-content: center;
                            margin: 0 auto;
                            text-align: center;
                            align-items: center;
                            padding: 0;
                            width: 90%;
                            height: 40px;
                            background: #fff;
                            color: #000;
                            border: none;
                            border-radius: 8px;
                        }
                    }
                }
            }

            &__left-menu>div,
            &__right-menu>div{
                cursor: pointer;
            }

            &__left-menu a,
            &__right-menu a {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }

            &__left-menu a:hover,
            &__right-menu a:hover {
                font-weight: bold;
                text-decoration: none;
            }
        }

        .section-main {
            height: 70vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &__container{
                width: 100vw;
            }

            &__carousel{
                height: 70vh;

                .carousel-inner{
                    .section-two{
                        .services{
                            display: flex;
                            justify-content: space-around;
                            margin: 0 auto;
                            width: 70%;
                            align-items: center;

                            .details{
                                margin: 0 auto 0 auto;
                                width: 80%;
                                height: 40px;
                                background: #fff;
                                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                                border: none;
                                border-radius: 8px;
                                font-family: $base-font-family;
                                font-style: normal;
                                font-weight: $base-font-weight;
                                line-height: 19px;
                                text-align: center;
                                color: #003053;
                            }
                            @media screen and (max-width: 1496px){
                                .details{
                                    font-size: 1.2vw;
                                }
                            }
                            @media screen and (max-width: 1280px){
                                .details{
                                    font-size: 1.5vw;
                                }
                            }

                            &__side-service{
                                width: 20%;
                                height: 60vh;
                                display: grid;
                                align-items: center;
                                margin: 0;
                                background: linear-gradient(0deg, #008EF4 8.09%,
                                    rgba(0, 142, 244, 0) 97.05%),
                                    linear-gradient(0deg, rgba(0, 0, 0, 0.42),
                                    rgba(0, 0, 0, 0.42)), url(.jpg);
                                border-radius: 8px;

                                .side-service-h6{
                                    font-family: $base-font-family;
                                    font-style: $base-font-style;
                                    font-weight: $base-font-weight;
                                    margin: -10% 0 0 0;
                                }
                                .side-service-p{
                                    font-family: $base-font-family;
                                    font-style: $base-font-style;
                                    font-weight: $base-font-weight;
                                    text-align: center;
                                    margin: 0;
                                }
                                .design-footer{
                                    display: grid;
                                    align-items: center;
                                    margin: 25% 0 0 0;

                                    .design-footer-p{
                                        font-family: 'Roboto', sans-serif;
                                        font-style: normal;
                                        font-weight: normal;
                                        line-height: 26px;
                                        text-align: center;
                                        width: 80%;
                                        margin: 0 auto;
                                    }
                                    @media screen and (max-width: 1496px){
                                        .design-footer-p{
                                            font-size: 1.2vw;
                                        }
                                    }
                                    @media screen and (max-width: 1280px){
                                            .design-footer-p{
                                                font-size: 1.5vw;
                                            }
                                        }
                                }
                            }
                            &__center-service{
                                width: 60%;
                                height: 60vh;
                                display: grid;
                                justify-content: center;
                                margin: 0 0 0 1%;
                                grid-template-columns: 1fr 1fr;

                                .block-service-top{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    width: 95%;
                                    background: linear-gradient(0deg, #008EF4 8.09%,
                                        rgba(0, 142, 244, 0) 97.05%),
                                        linear-gradient(0deg, rgba(0, 0, 0, 0.42),
                                        rgba(0, 0, 0, 0.42)), url(.jpg);
                                    border-radius: 8px;
                                    margin: 0 0 5% 0;

                                    h6{
                                        font-family: $base-font-family;
                                        font-style: $base-font-style;
                                        font-weight: $base-font-weight;
                                    }
                                    .design-footer{
                                        display: grid;

                                        .design-footer-p{
                                            width: 60%;
                                            font-family: 'Roboto', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            line-height: 26px;
                                            text-align: center;
                                            margin: 0 auto 20px auto;
                                        }
                                        @media screen and (max-width: 1496px){
                                            .design-footer-p{
                                                font-size: 1.2vw;
                                            }
                                        }
                                        @media screen and (max-width: 1280px){
                                            .design-footer-p{
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                }
                                .block-service-bottom{
                                    display: grid;
                                    justify-content: center;
                                    align-items: center;
                                    width: 95%;
                                    background: linear-gradient(0deg, #008EF4 8.09%,
                                        rgba(0, 142, 244, 0) 97.05%),
                                        linear-gradient(0deg, rgba(0, 0, 0, 0.42),
                                        rgba(0, 0, 0, 0.42)), url(.jpg);
                                    border-radius: 8px;
                                    margin: 0;

                                    h6{
                                        font-family: $base-font-family;
                                        font-style: $base-font-style;
                                        font-weight: $base-font-weight;
                                    }
                                    .design-footer{
                                        display: grid;

                                        .design-footer-p{
                                            width: 60%;
                                            font-family: 'Roboto', sans-serif;
                                            font-style: normal;
                                            font-weight: normal;
                                            line-height: 26px;
                                            text-align: center;
                                            margin: 0 auto 20px auto;
                                        }
                                        @media screen and (max-width: 1496px){
                                            .design-footer-p{
                                                font-size: 1.2vw;
                                            }
                                        }
                                        @media screen and (max-width: 1280px){
                                            .design-footer-p{
                                                font-size: 1.5vw;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .section-three{
                        .portfolio{
                            display: flex;
                            justify-content: space-around;
                            margin: 0 auto;
                            width: 70%;
                            align-items: center;

                            h6{
                                font-family: Montserrat;
                                font-style: $base-font-style;
                                font-weight: $base-font-weight;
                                font-size: 24px;
                                text-align: left;
                                line-height: 29px;
                            }
                            p{
                                font-family: Montserrat;
                                font-style: $base-font-style;
                                font-size: 24px;
                                text-align: left;
                                line-height: 29px;
                            }

                            &__left-side{
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 0.5em;
                                height: 70vh;
                                width: 50%;
                                margin-right: 0.25em;

                                .element{
                                    background: linear-gradient(180deg, #152C3D 0%, rgba(0, 142, 244, 0) 100%),
                                        linear-gradient(180deg, #010203 0%, rgba(0, 142, 244, 0) 96.65%);
                                    border-radius: 8px;
                                    padding: 10px;
                                }

                                .block-1{
                                    grid-row: 1/3
                                }
                                .block-2{
                                }
                                .block-3{
                                }
                            }

                            &__right-side{
                                display: grid;
                                grid-template-columns: 1fr;
                                height: 70vh;
                                width: 50%;
                                margin-left: 0.25em;

                                .element{
                                    background: linear-gradient(180deg, #152C3D 0%, rgba(0, 142, 244, 0) 100%),
                                        linear-gradient(180deg, #010203 0%, rgba(0, 142, 244, 0) 96.65%);
                                    border-radius: 8px;
                                    padding: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }




        .section-footer {
            height: 15vh;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__icons {
                a+a {
                    margin: 0 10px;
                }
            }

            &__request {
                &-btn {
                    width: 250px;
                    height: 50px;
                    background: none;
                    border: 2px solid #fff;
                    border-radius: 8px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 0.75em;
                    line-height: 29px;
                    text-align: center;
                    color: #fff;
                }

                &-btn:hover {
                    background: #fff;
                    border: none;
                    color: #1E2231;
                }
            }

        }
    }
}