@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}

body{
    overflow: hidden;
}


$base-font-family: 'Roboto', sans-serif;
$base-font-style: normal;
$base-font-weight: bold;
$base-font-color: #fff;

.loading{
    animation: loading 6s;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #004453 center center;
        background-size: cover;

        &-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@keyframes loading{
    0% {
        opacity: 1;
        z-index: 150;
    }

    90% {
        opacity: 1;
        z-index: 150;
    }

    100% {
        opacity: 0;
        display: none;
    }
}



.intro {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    &__media {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #004453 center center;
        background-size: cover;

        &-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &::before {
        content: '';
        width: 100px;
        position: absolute;
        z-index: 5;
        left: 50%;
        top: 5%;
        transform: translateX(-50px);
        box-shadow: 0 -200px 180px 200px #004453;
    }

    &__content {
        z-index: 10;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 15vh;
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .nav{
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;

            }
            .nav>div.active{
                border-bottom: 2px solid #fff;
            }
            .nav>div:hover{
                border-bottom: 2px solid #fff;
            }

            &__logo img{
                width: 100%;
                height: 100%;
            }

            &__right-menu{
                .contacts-block{
                    display: none;
                    position: fixed;
                    z-index: 50;
                    top: 10%;
                    left: 11%;
                    width: 80%;
                    height: 80vh;
                    overflow: auto;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.4);
                    border: 2px solid #fff;
                    border-radius: 8px;

                    .contacts-wrapper:hover{
                        cursor: default;
                    }

                    .contacts-wrapper{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1em;
                        height: 100%;
                        padding: 10px;

                        &__contact-name{
                            display: flex;
                            flex-direction: column;
                            background: #000;
                            border-radius: 8px;
                        }
                        &__name{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 64px;
                            line-height: 75px;
                            text-align: center;
                        }
                        .contact-name-1{
                            grid-row: 1/3;
                        }
                        .contact-name-2{
                        }
                        .contact-name-3{
                        }

                        &__phone{
                            display: flex;
                            flex-direction: column;
                            width: 50%;
                        }
                        .phone-1{
                            margin: auto 10px 10px auto;
                            height: 15%;
                        }
                        .phone-2{
                            margin: auto 10px 10px auto;
                            height: 30%;
                        }
                        .phone-3{
                            margin: auto 10px 10px auto;
                            height: 30%;
                        }
                        &__phone-btn{
                            margin: 5px 0 0 auto;
                            width: 100%;
                            height: 100%;
                        }
                        .phone-btn-1{
                            background: linear-gradient(91.19deg, #00C036 3.01%, #006C73 91.92%);
                            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 8px;
                            border: none;
                            color: #fff
                        }
                        .phone-btn-2{
                            background: #fff;
                            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                            border-radius: 8px;
                            border: none;
                            color: #000;
                        }
                    }
                }

                .useful-block:hover{
                    cursor: default;
                }

                .useful-block{
                    display: none;
                    align-items: center;
                    position: fixed;
                    z-index: 50;
                    top: 10%;
                    left: 11%;
                    width: 80%;
                    height: 80vh;
                    overflow: auto;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.4);
                    border: 2px solid #fff;
                    border-radius: 8px;

                    &__content{
                        display: flex;
                        flex-direction: column;
                        width: 17%;
                        height: 70vh;
                        margin: 0 10px;
                        background: linear-gradient(0deg, #98F400 8.09%, rgba(0, 142, 244, 0) 97.05%),
                            linear-gradient(0deg, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.42));
                        background-repeat: no-repeat;
                        border-radius: 8px;

                        .head{
                            font-family: 'Roboto', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            text-align: center;
                            margin: 70px auto 0 auto;
                            padding: 0;
                            height: auto;
                            width: 80%
                        }

                        .p{
                            margin: 10px auto 0 auto;
                            padding: 0;
                            height: auto;
                            width: 80%;
                        }

                        .details{
                            display: flex;
                            justify-content: center;
                            margin: auto auto 25px auto;
                            text-align: center;
                            align-items: center;
                            padding: 0;
                            width: 90%;
                            height: 7%;
                            background: #fff;
                            color: #000;
                            border: none;
                            border-radius: 8px;
                        }

                        .details:hover{
                            cursor: pointer;
                        }

                        @media screen and (max-width: 1248px){
                            .head{
                                font-size: 2vw;
                            }
                            .p{
                                font-size: 1.8vw;
                            }
                            .details{
                                font-size: 1.8vw;
                            }
                        }
                    }
                }
            }

            &__left-menu>div,
            &__right-menu>div{
                cursor: pointer;
            }

            &__left-menu a,
            &__right-menu a {
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #FFFFFF;
            }

            &__left-menu a:hover,
            &__right-menu a:hover {
                font-weight: bold;
                text-decoration: none;
            }
        }

        .section-main {
            height: 70vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &__container{
                width: 100vw;
            }

            &__carousel{
                height: 70vh;

                .carousel-indicators{
                    margin: 0 0 -10px 0;
                }

                .carousel-inner{
                    .section-two{
                        .services{
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr;
                            grid-gap: 1em;
                            justify-content: space-around;
                            margin: 0 auto;
                            width: 70%;
                            align-items: center;
                            height: 69vh;

                            &__content{
                                height: 100%;
                                width: auto;
                                border-radius: 8px;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                            }
                            &__head{
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: bold;
                                font-size: auto;
                                line-height: 28px;
                                text-align: center;
                                margin: auto;
                            }
                            &__paragraph{
                                font-family: 'Roboto', sans-serif;
                                font-style: normal;
                                font-weight: normal;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: center;
                                width: 70%;
                                margin: 10px auto;
                            }
                            &__details-btn{
                                margin: auto auto 50px auto;
                                height: 30%;
                                width: 80%;
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: center;
                                color: #003053;
                                background: #FFFFFF;
                                box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                                border: none;
                                border-radius: 8px;
                            }
                            .service-1{
                                grid-row: 1/3;
                                background-image: url('../images/backgrounds/site_dev.png');
                                background-repeat: no-repeat;
                                background-size: cover;

                                .sides-footer{
                                    background: #005312;
                                    border-bottom-left-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                }
                            }
                            .service-2{
                                background-image: url('../images/backgrounds/design_studio.png');
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            .service-3{
                                background-image: url('../images/backgrounds/photo_video.png');
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            .service-4{
                                background-image: url('../images/backgrounds/add_product.png');
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            .service-5{
                                background-image: url('../images/backgrounds/smm.png');
                                background-repeat: no-repeat;
                                background-size: cover;
                            }
                            .service-6{
                                grid-row: 1/3;
                                grid-column: 4/5;
                                background-image: url('../images/backgrounds/mob_apps.png');
                                background-repeat: no-repeat;
                                background-size: cover;

                                .sides-footer{
                                    background: #531E00;
                                    border-bottom-left-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                }
                            }
                        }
                    }
                    .section-three{
                        .portfolio{
                            display: grid;
                            grid-template-columns: 1fr 1fr 2fr;
                            grid-gap: 1em;
                            justify-content: center;
                            margin: 0 auto;
                            width: 70%;
                            align-items: center;
                            height: 69vh;

                            &__content{
                                display: flex;
                                flex-direction: column;
                                height: 100%;
                                border-radius: 8px;
                                background: linear-gradient(0deg, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.54)), #121F38;
                                border: 2px solid #FFFFFF;
                                box-sizing: border-box;
                                border-radius: 8px;
                                padding: 5px;
                            }

                            &__head{
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: left;
                            }

                            &__paragraph{
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 24px;
                                line-height: 29px;
                                text-align: left;
                                color: #CBCBCB;
                            }

                            .portfolio-1{
                                grid-row: 1/3;
                            }
                            .portfolio-2{

                            }
                            .portfolio-3{

                            }
                            .portfolio-4{
                                grid-row: 1/3;
                                grid-column: 3/5;
                            }
                        }
                    }
                }
            }
        }




        .section-footer {
            height: 15vh;
            display: flex;
            justify-content: space-around;
            align-items: center;

            &__icons {
                a+a {
                    margin: 0 10px;
                }
            }

            &__request {
                &-btn {
                    width: 250px;
                    height: 50px;
                    background: none;
                    border: 2px solid #fff;
                    border-radius: 8px;
                    font-family: 'Montserrat', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 0.75em;
                    line-height: 29px;
                    text-align: center;
                    color: #fff;
                }

                &-btn:hover {
                    background: #fff;
                    border: none;
                    color: #1E2231;
                }
            }

        }
    }
}